body {
    font-family: 'Futura', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
}

.blog-container {
    font-family: 'Futura', sans-serif;
    color: white;
    background-color: #000000;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-family: 'Futura', sans-serif;
    color: white;
    font-size: 14px;
    text-align: left;
}

h1 {
    font-family: 'Futura', sans-serif;
    color: white;
    font-size: 24px;
}

.sidebar {
    font-family: 'Futura', sans-serif;
    color: white;
    background: #000000;
    padding: 1.5rem;
    border-radius: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 0;
    height: 100vh;
}

.search-box {
    font-family: 'Futura', sans-serif;
    color: white;
    margin-bottom: 2rem;
}

.search-box input {
    font-family: 'Futura', sans-serif;
    color: #000000;
    font-size: 14px;
    width: 100%;
    background-color: #ffffff;
    padding: 0.5rem;
    border: 1px solid #808080;
    border-radius: 0px;
}

.categories, .recent-posts {
    margin-bottom: 2rem;
}

.categories ul, .recent-posts ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.categories li, .recent-posts li {
    text-decoration: none;
    font-family: 'Futura', sans-serif;
    color: white;
    margin-bottom: 0.5rem;
}

.blog-post {
    background: rgb(0, 0, 0);
    border-radius: 0px;
    overflow: hidden;
    margin-bottom: 40px;
    opacity: 1;
}

.post-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.post-meta {
    padding: 1rem;
    color: #666;
}

.post-meta span {
    margin-right: 1rem;
}

.post-title {
    padding: 0 1rem;
    margin: 1rem 0;
}

.post-subtitle {
    padding: 0 1rem;
    color: #808080;
    font-weight: normal;
}

.post-content {
    padding: 1rem;
    line-height: 1.6;
}

.content-text {
    max-height: calc(2 * 1.6em + 1rem);
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    text-align: left;
}

.content-text.expanded {
    max-height: none;
}

.ampliar, .contraer {
    background-color: #000000;
    border: 0px;
    font-family: 'Futura', sans-serif;
    color: #808080;
    font-size: 14px;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* Responsive design */
@media (max-width: 768px) {
    .blog-container {
        grid-template-columns: 1fr;
    }
    
    .sidebar {
        order: 2;
    }
}