@font-face {
    font-family: 'Futura';
    src: url('futura/Futura\ Book.ttf') format('truetype');  
}

::selection {
    background-color: #808080;
    color: #f4f4f4;
}

body {
    font-family: 'Futura', sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000000;
    color: white;
    text-align: center;
}

.logo {
    height: 30px;
    margin-left: 10px;
    margin-right: 20px;
    opacity: 0;
    transition: opacity 2s ease;
}

.show-logo {
    opacity: 1;
}

nav {
    margin: 20px 40px;
    text-align: left;
}

nav ul {
    list-style-type: none;
    padding: 0;
    position: relative;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-family: 'Futura', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    transition: color 0.3s ease;
    padding: 5px;
}

nav a:hover {
    color: #808080;
}

.submenu {
    display: none;
    position: absolute;
    background-color: black;
    padding: 10px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    margin-top: 5px;
}

nav li:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
    margin: 5px 0;
}

.submenu a {
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.submenu a:hover {
    color: rgb(128, 128, 128);
}


nav li {
    padding: 5px;
}

nav li:hover > a {
    color: rgb(128, 128, 128);
}

.hero {
    background-color: #000000;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    transition: opacity 3s ease;
}

.hero-logo {
    height: 140%;
    margin-right: 400px;
    margin-top: 240px;
}

.hero-text {
    color: white; 
    font-family: 'Futura', sans-serif; 
    font-stretch: expanded;
    font-size: 24px; 
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase; 
    position: absolute;  
    right: 610px;  
    bottom: 100px;  
    text-align: right; 
}
.show-hero {
    opacity: 1;
}

.menu {
    color: white;
    opacity: 0;
    transition: opacity 2s ease;
    font-family: 'Futura', sans-serif;  
    font-size: 11px;        
    font-weight: 100;   
    letter-spacing: 2px;
}

.show-menu {
    opacity: 1;
}

body{
    margin:0;
    overflow-x:hidden;
    }
    

.contact-container {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 80vh;
    padding: 0px;
    margin-top: -520px;
}

.contact-form {
    background: #000000;
    padding: 30px;
    width: 100%;
    max-width: 600px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 200px;
}

.form-title {
    font-family: 'Futura', sans-serif;
    color: white;
    font-size: 18px;
    margin-bottom: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 25px;
    position: relative;
}

.form-group input,
.form-group textarea {
    font-family: 'Futura', sans-serif;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.05);
    border: none;
    border-bottom: 2px solid #808080;
    color: white;
    font-size: 14px;
    transition: all 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-bottom: 2px solid #808080;
    background: rgba(255, 255, 255, 0.1);
}

.form-group label {
    position: absolute;
    left: 12px;
    top: 12px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: all 0.3s ease;
    pointer-events: none;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label,
.form-group textarea:focus ~ label,
.form-group textarea:valid ~ label {
    top: -20px;
    left: 0;
    font-size: 12px;
    color: #ffffff;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background: transparent;
    border: 2px solid #808080;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.submit-btn:hover {
    background: #808080;
    color: black;
}

@media (max-width: 600px) {
    .contact-form {
        padding: 20px;
    }
}

.footer {
    background:#000;
    padding:30px 0px;
    font-family: 'Futura', sans-serif;
    text-align:center;
    opacity: 0;
    transition: opacity 4s ease;
    margin-top: -100px;
}

.footer.fade-in {
    opacity: 1;
}

.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color: #ffffff;
    font-size:.9em;
    text-align: center;
    }
    
.footer .row a{
    text-decoration:none;
    color:#ffffff;
    transition:0.5s;
    }
    
.footer .row a:hover{
    color:#808080;
    }
    
.footer .row ul{
    width:100%;
    padding: 0;
    margin: 0;
    }
    
.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
.footer .row a i{
    font-size:1.2em;
    margin:0% 1%;
    }
    
@media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
}

