@font-face {
    font-family: 'Futura';
    src: url('futura/Futura\ Book.ttf') format('truetype');  
}

::selection {
    background-color: #808080;
    color: #f4f4f4;
}

body {
    font-family: 'Futura', sans-serif;
    background: linear-gradient(45deg, #000000, #161616, #0f0f0f, #000000);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    margin: 0;
    padding: 20px;
}

@keyframes gradient {
    0% { 
        background-position: 0% 50%; }
    50% { 
        background-position: 100% 50%; }
    100% {
        background-position: 0% 50%; }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    text-align: center;
}

.logo {
    height: 30px;
    margin-left: 10px;
    margin-right: 20px;
    opacity: 0;
    transition: opacity 2s ease;
}

.show-logo {
    opacity: 1;
}

nav {
    margin: 20px 20px;
    padding: 0;
    text-align: left;
    z-index: 10;
}


nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 2px 0;
    padding: 5px 10px;
    line-height: 1;
    display: inline;
    margin-right: 2px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-family: 'Futura', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    transition: color 0.3s ease;
    padding: 5px;
}

nav a:hover {
    color: #808080;
}


.submenu {
    display: none;
    position: absolute;
    background-color: black;
    padding: 5px 10px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    margin-top: 5px;
    white-space: nowrap;
}

nav li:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
    margin: 3px 0;
    text-align: right;
}

.submenu a {
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    padding: 5px 10px;
    transition: color 0.3s ease;
    display: block;
    white-space: nowrap;
}

.submenu a:hover {
    color: rgb(128, 128, 128);
}


nav li {
    padding: 5px;
}

nav li:hover > a {
    color: rgb(128, 128, 128);
}




.hero {
    display: grid;
    grid-columns: 1fr 1fr;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 0;
    transition: opacity 3s ease;
}

.hero-logo {
    height: 150%;
    margin-right: 300px;
    margin-top: 240px;
    z-index: 10;

}

.hero-text {
    color: white;  
    font-family: 'Futura', sans-serif; 
    font-stretch: expanded;
    font-size: 14px;  
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;  
    position: absolute;  
    margin-right: 500px;  
    top: 740px;
    text-align: right; 
    z-index: 10;
}
.show-hero {
    opacity: 1;
}





 





.menu {
    color: white;
    opacity: 0;
    transition: opacity 2s ease;
    font-family: 'Futura', sans-serif;  
    font-size: 11px;        
    font-weight: 100;   
    letter-spacing: 2px;
}

.show-menu {
    opacity: 1;
}

 
.logo-container {
    position: relative;  
    display: inline-block;  
}

 
.tooltip {
    visibility: hidden;  
    width: 120px;  
    background-color: black;  
    color: #fff;  
    text-align: center;  
    border-radius: 5px;  
    padding: 5px;  
    position: absolute;  
    z-index: 1;  
    bottom: -125%;  
    left: 5%;  
    margin-left: -60px;  
    opacity: 0;  
    transition: opacity 0.3s;  
}
 
.logo-container:hover .tooltip {
    visibility: visible;  
    opacity: 1;  
}

html {
    scroll-behavior: smooth;
}


.tooltip2 {
    position: relative;  
}

 
.tooltip-text {
    display: none;  
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);  
    color: black; 
    padding: 5px 10px; 
    border-radius: 5px;  
    font-size: 12px;  
    white-space: nowrap;  
    top: 10%;  
    left: -5%;  
    transform: translateX(-50%); 
    z-index: 10;  
    opacity: 0;  
    transition: opacity 0.3s ease;  
}

 
.tooltip2:hover .tooltip-text {
    display: block;
    opacity: 1; 
}

.tooltip3 {
    position: relative;  
}

 
.tooltip-text3 {
    display: none;  
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);  
    color: black; 
    padding: 5px 10px; 
    border-radius: 5px;  
    font-size: 12px;  
    white-space: nowrap;  
    top: 100%;  
    left: 50%;  
    transform: translateX(-50%); 
    z-index: 10;  
    opacity: 0;  
    transition: opacity 0.3s ease;  
}

 
.tooltip3:hover .tooltip-text3 {
    display: block;
    opacity: 1;  
}


.tooltip4 {
    position: relative; 
}

 
.tooltip-text4 {
    display: none;  
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);  
    color: black; 
    padding: 5px 10px; 
    border-radius: 5px;  
    font-size: 12px;  
    white-space: nowrap;  
    top: 10%;  
    left: -55%;  
    transform: translateX(-50%); 
    z-index: 10;  
    opacity: 0;  
    transition: opacity 0.3s ease;  
}

 
.tooltip4:hover .tooltip-text4 {
    display: block;
    opacity: 1; 
}


